.comment {
  display: flex;
  padding: 20px 0;
  border-bottom: 0.5px solid;
  font-size: 1rem;
}

.comment-list > :first-child {
  border-top: 0.5px solid;
}

.author-name {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0;
}

.comment-date {
  padding: 10px 0;
  font-style: italic;
  color: #888 !important;
}

.author-image {
  padding: 10px;
}

.author-letter img {
  border-radius: 40px !important;
  height: 66px !important;
  width: 66px !important;
}

.comment-form .form-submit input#submit {
  font-size: 14px;
  font-weight: 500;
  border-style: none;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 23px 15px 23px;
}

.comment-form .form-submit {
  text-align: right;
}

.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
  border-top: 0.5px solid #373737;
}

.timendate {
  display: none;
}

.old-comment b.fn,
.old-comment b.fn a {
  color: #373737;
}
